<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soecode.blog.dao.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.soecode.blog.entity.Comment">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="target_id" jdbcType="VARCHAR" property="targetId" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
    <result column="reply_userid" jdbcType="VARCHAR" property="replyUserid" />
    <result column="reply_username" jdbcType="VARCHAR" property="replyUsername"/>
    <result column="reply_id" jdbcType="VARCHAR" property="replyId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, target_id, pid, content, user_id, user_nickname, reply_userid, reply_username, reply_id, status,
    create_time
  </sql>
  <select id="commentList"  resultMap="BaseResultMap">
    select 
     id, target_id, pid, content, user_id, user_nickname, reply_userid, reply_username, reply_id, status,
    create_time
    from comment
    order by create_time desc limit #{start}, #{pagesize}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
      where 1=1
    <if test="commentId !=null">
        and id = #{commentId}
    </if>
    <if test="targetId !=null ">
    and target_id = #{targetId}
    </if>
    <if test="userId !=null">
          and user_id= #{userId}
    </if>

  </delete>
  <insert id="addComment" parameterType="com.soecode.blog.entity.Comment">
    insert into comment ( target_id, pid,
      content, user_id, user_nickname, 
      reply_userid,reply_username, reply_id, status,reply_username)
    values ( #{targetId,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userNickname,jdbcType=VARCHAR}, 
      #{replyUserid,jdbcType=VARCHAR},#{replyUsername,jdbcType=VARCHAR}, #{replyId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
    <insert id="replay" parameterType="com.soecode.blog.entity.Comment">
      insert into comment ( target_id, pid,
      content, user_id, user_nickname,
      reply_userid, reply_username, reply_id, status,type)
    values ( #{targetId,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userNickname,jdbcType=VARCHAR},
      #{replyUserid,jdbcType=VARCHAR}, #{replyUsername,jdbcType=VARCHAR} ,#{replyId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{type })
    </insert>
  <insert id="insertSelective" parameterType="com.soecode.blog.entity.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="targetId != null">
        target_id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userNickname != null">
        user_nickname,
      </if>
      <if test="replyUserid != null">
        reply_userid,
      </if>
      <if test="replyId != null">
        reply_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="targetId != null">
        #{targetId,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null">
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="replyUserid != null">
        #{replyUserid,jdbcType=VARCHAR},
      </if>
      <if test="replyId != null">
        #{replyId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.soecode.blog.entity.Comment">
    update comment
    <set>
      <if test="targetId != null">
        target_id = #{targetId,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null">
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="replyUserid != null">
        reply_userid = #{replyUserid,jdbcType=VARCHAR},
      </if>
      <if test="replyId != null">
        reply_id = #{replyId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soecode.blog.entity.Comment">
    update comment
    set target_id = #{targetId,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      user_nickname = #{userNickname,jdbcType=VARCHAR},
      reply_userid = #{replyUserid,jdbcType=VARCHAR},
      reply_id = #{replyId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="totalCount"  resultType="Integer">
        select  count(1)
        from comment
        <!--<if  test="articleClassify != null">-->
            <!--where article_classify =#{articleClassify}-->
        <!--</if>-->
    </select>
    <!--<delete id="delete" parameterType="java.lang.Integer">-->
        <!--delete from  -->
    <!--</delete>-->
</mapper>