<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soecode.blog.dao.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="com.soecode.blog.entity.Message">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="message_nickname" jdbcType="VARCHAR" property="messageNickname" />
    <result column="message_time" jdbcType="TIMESTAMP" property="messageTime" />
    <result column="replay" jdbcType="INTEGER" property="replay" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.soecode.blog.entity.Message">
    <result column="message_content" jdbcType="LONGVARCHAR" property="messageContent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, message_nickname, message_time, replay, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    message_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.soecode.blog.entity.Message">
    insert into message (id, message_nickname, message_time, 
      replay, create_time, update_time, 
      message_content)
    values (#{id,jdbcType=INTEGER}, #{messageNickname,jdbcType=VARCHAR}, #{messageTime,jdbcType=TIMESTAMP}, 
      #{replay,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{messageContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.soecode.blog.entity.Message">
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="messageNickname != null">
        message_nickname,
      </if>
      <if test="messageTime != null">
        message_time,
      </if>
      <if test="replay != null">
        replay,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="messageContent != null">
        message_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="messageNickname != null">
        #{messageNickname,jdbcType=VARCHAR},
      </if>
      <if test="messageTime != null">
        #{messageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replay != null">
        #{replay,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageContent != null">
        #{messageContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.soecode.blog.entity.Message">
    update message
    <set>
      <if test="messageNickname != null">
        message_nickname = #{messageNickname,jdbcType=VARCHAR},
      </if>
      <if test="messageTime != null">
        message_time = #{messageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replay != null">
        replay = #{replay,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageContent != null">
        message_content = #{messageContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.soecode.blog.entity.Message">
    update message
    set message_nickname = #{messageNickname,jdbcType=VARCHAR},
      message_time = #{messageTime,jdbcType=TIMESTAMP},
      replay = #{replay,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      message_content = #{messageContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soecode.blog.entity.Message">
    update message
    set message_nickname = #{messageNickname,jdbcType=VARCHAR},
      message_time = #{messageTime,jdbcType=TIMESTAMP},
      replay = #{replay,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>